#listaComp input{
    border-radius: 12px;
    margin-top: 4px;
    margin-left: 3px;
}

#listaComp label{
    color: rgb(243, 243, 243);
    font-size: large;
}

main {
    background-color: rgb(61, 97, 146);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
}

#bottone {
    border-radius: 12px;
    margin-top: 5px;
    margin-left: 50px;
    background-color: rgb(172, 133, 208);
    
}

.stampa {
  background-color: rgb(213, 108, 223);
  text-align: center;
  background-image: url("https://placedog.net/300/300");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  padding: 10px;
  color: white;
  margin-top: 30px;
}

body {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(215, 165, 221);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}



